<h2>Shinson Hapkido Pensum</h2>
<h3>Techinque Videos blabla</h3>


<p>Velkommen til Gisul!</p>


<p>Her findes en komplet fortegnelse med alle Shinson Hapkido Kup pensumer. Hver teknik vises med en beskrivelse og en video til at forklare og vise, hvordan det virker.</p>

<!-- <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff yet hunt anything that moves. Rub face on everything Gate keepers of hell go into a room to decide you didn't want to be in there anyway. Poop in litter box, scratch the walls knock over christmas tree. Russian blue fall asleep on the washing machine make meme, make cute face put butt in owner's face. Lick the other cats. Intrigued by the shower chew iPad power cord. Chase dog then run away leave fur on owners clothes, and purr for no reason meow for food, then when human fills food dish, take a few bites of food and continue meowing but jump around on couch, meow constantly until given food.</p> -->
