<%= simple_form_for @application do |f| %>
  <h1>
    Send ansøgning til at blive <%= current_user.next_belt.color %> bælte.
	</h1>
  <div class="form-group">
		<%= f.input :picture_proof, as: :file, input_html: { class: "form-control" } %>
		<span>Upload et billede af dit Shinson Hapkido pas eller diplom.</span>
	</div>

  <%= f.button :submit, :class => "btn btn-default" %>
<% end %>
