@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// COLORS
$main: #51555e;
$contrast: #b5eaee;
$neutral: #cfd0ca;


* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	color: $main;
	overflow: hidden;
	
	@media screen and (max-width:991px) {
		overflow: scroll;
		padding-bottom: 8.5rem;
	}
}

.page-wrap {
	height: calc(100% - 65px);
	overflow: scroll;
}

.title {
	padding: 1rem;
	
	.logo {
		font-size: 5rem;
	}	
	
	h1 {
		margin: 0;
	}
}

nav {
	background: $neutral;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	padding-bottom: 0;
	min-height: 72px;
	
	img {
		height: 50px;
	}

	a {
		color: lighten($contrast, 10%);
	}

	.admin-nav {
		text-align: center;
		font-size: 1.75rem;
		padding-top: 1rem;
	}
	.user-nav {
		text-align: right;
	}
	
	> div {		
		@media screen and (max-width:991px) {
			text-align: center !important;
		}
	}
	
	.sign-log-links {
		font-size: 2rem;
		padding-top: 1rem;
	}
	
}

.belt-tile-wrap {
	width: 100%;	
	
	.belt-tile {
		width: 100%;
		margin-bottom: .5rem;
//		display: block;
//		overflow: hidden;
		
		> a:not(.apply-btn) {
			width: 100%;
			display: block;
			padding: 1rem;
		
			&:not(.disabled) {
				background: $contrast;
				color: white;
			
				&:hover {
					background: darken($contrast, 10%);
				}
			}
			
			&.disabled {
				width: calc(100% - 160px);
				display: inline-block;
			}
		}
		
		> ul {
			padding: 0rem;
			list-style: none;			
			display: none;
			
			> li {
				margin-top: 3px;
				
				span {
					background: lighten($contrast, 10%);
					width: 100%;
					display: block;
					padding: 1rem;
				}
				
				a {
					color: $contrast !important;
					
					&:hover {
						color: darken($contrast, 10%) !important;
						text-decoration: none !important;
					}
				}				
			}
		}
		
		.technique-wrap {
//			background: $neutral;
			list-style: none;
			padding: 1rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
						
			li {
				padding: 2rem;
				
				a {
					color: $main;
					font-size: 1.5rem;
					&:hover {
						color: darken($contrast, 10%) !important;
						text-decoration: none !important;
					}
				}
			}
		}
	}
}

.btn.fa {
	padding: 8px 12px 10px;
}

.user_birthdate {
	width: 100%;
	overflow: hidden;
	
	label {
		display: block;
	}
	select {
		width: 12%;
	}
}

aside {
	margin-top: 1rem;
	
	iframe, .video-placeholder {
		width: 100%;
		max-width: 560px;
//
//		@media screen and (max-width:991px) {
//			max-height: 315px;
//		}
	}
	
	iframe {
		height: 315px;
	}

}




// GENERALS

a {
	color: $contrast;
	
	&:hover {
		color: darken($contrast, 10%);
		text-decoration: none;
	}
}

h1 {
	color: darken($contrast, 10%);
	margin-top: 0;
}


.table-responsive {
	margin: 0 auto;
//	width: 90%;
	
	table {
		width: 100%;
		
		tr {
			td {
				padding: 5px;
				
//				&:last-child {
//					text-align: center;
//				}
			}
		}
	}
}





// Helpers

.left {
	float: left;
}

.right {
	float: right;
}

.float-block {
	display: block;
	overflow: hidden;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.pointer {
	cursor: pointer;
}

.block {
	display: block;
}